In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import pymysql 
from sqlalchemy import create_engine

In [2]:
period=40

In [4]:
def get_columns(info_COLUMNS):
    lst=[]
    for i in info_COLUMNS:
        lst.append(i[0])
    return lst

In [5]:
# 用pymysql连接尝试
# 连接数据库
conn = pymysql.connect(
	host = '123.60.11.177',
	port = 3306,
	user = 'root',
	password = 'shwSjw1@j!kSl',
	db = 'examArrange1',
	charset='utf8'
	)
cur = conn.cursor()
cur.execute("SELECT column_name FROM information_schema.columns WHERE (table_name = 'classroom_inf_new') AND (ordinal_position >= 1) order by ordinal_position")
classroom_inf_new_columns=get_columns(cur.fetchall())
cur.execute("SELECT * FROM classroom_inf_new")
classroom_inf_new=pd.DataFrame(cur.fetchall(),columns=classroom_inf_new_columns)

cur.execute("SELECT column_name FROM information_schema.columns WHERE (table_name = 'temp') AND (ordinal_position >= 1) order by ordinal_position")
temp_columns=get_columns(cur.fetchall())
cur.execute("SELECT * FROM temp")
temp=pd.DataFrame(cur.fetchall(),columns=temp_columns)
#关闭数据库连接
conn.close()

In [6]:
def get_dm_classroom_state_new(res):
    cr_building=[]
    cr_name=[]
    cr_testseat=[]
    for i in np.array(res)[:,0]:
        cr_building.append(i[0])
        cr_name.append(i[1])
        cr_testseat.append(i[2])
    dm_classroom_state_new=np.c_[cr_building,cr_name,cr_testseat,np.array(res)[:,1]]
    dm_classroom_state_new=pd.DataFrame(dm_classroom_state_new,columns=["cr_building","cr_name","cr_testseat","mti_no"])
    dm_classroom_state_new["cr_state"]=1
    return dm_classroom_state_new.reset_index().rename(columns={"index":"state_id"})

In [7]:
%%time
from itertools import product
res = list(product(classroom_inf_new.loc[:,["教学楼名称","房间号","座位数"]].values.tolist(),range(period)))
dm_classroom_state_new=get_dm_classroom_state_new(res)

Wall time: 32 ms

# 生成/读取各个楼栋教室数据

In [8]:
%%time
D=dm_classroom_state_new
#课表时间对
# temp=pd.read_csv("./temp3.csv",names=["ci_course_no","test_time","ci_class_name","ci_student_number","ci_teacher_name","ci_class_unit"])
# temp.insert(0,"index",temp.index.values)

zhujiao_D=D[D["cr_building"]=="教学主楼"] #后面是要从数据库中读取
gonggong_temp=temp[temp["ci_class_unit"]=="公共课排课"]
jiangong_D=D[D["cr_building"]=="建工楼"]
jiangong_temp=temp[temp["ci_class_unit"]=="建筑工程学院"]
xingong_D=D[D["cr_building"]=="信工楼"]
xingong_temp=temp[temp["ci_class_unit"]=="信工学院"]
jidian_D=D[D["cr_building"]=="机电楼"]
jidian_temp=temp[temp["ci_class_unit"]=="机电学院"]
lisheng_D=D[D["cr_building"]=="理生楼"]
lisheng_temp=temp[(temp["ci_class_unit"]=="理学院")|(temp["ci_class_unit"]=="生命学院")]
huanjing_D=D[D["cr_building"]=="环境楼"]
huanjing_temp=temp[temp["ci_class_unit"]=="环化学院"]
cailiao_D=D[D["cr_building"]=="材料楼"]
cailiao_temp=temp[temp["ci_class_unit"]=="材料学院"]
renwen_D=D[D["cr_building"]=="人文楼"]
renwen_temp=temp[temp["ci_class_unit"]=="人文学院"]
faxue_D=D[D["cr_building"]=="法学楼"]
faxue_temp=temp[temp["ci_class_unit"]=="法学院"]
waijing_D=D[D["cr_building"]=="外经楼"]
waijing_temp=temp[(temp["ci_class_unit"]=="外语学院")|(temp["ci_class_unit"]=="经管学院")]

Wall time: 13 ms

In [9]:
# engine = create_engine("mysql+pymysql://root:ncu@jw114@123.60.11.177:3306/examArrange1?charset=utf8") 
# dm_classroom_state_new.to_sql(name='dm_classroom_state_new',con = engine,if_exists = 'replace',index = False,index_label = False)
# temp.to_sql(name='temp',con = engine,if_exists = 'replace',index = False,index_label = False)

# 主要函数内容

In [9]:
#根据时间段找到所有教室
def get_test_time_room(new_D,test_time):
    test_time_room=new_D[(new_D.mti_no==test_time)&(new_D.cr_state==1)].cr_name.values
    return test_time_room
def fill_bz(new_D,room_name,test_time):
    new_D.loc[(new_D.cr_name==room_name)&(new_D.mti_no==test_time),"cr_state"]=0
    return 0
#当前的教室对应的班级index
def change_state_id(new_D,room_name,test_time,i):
    new_D.iloc[new_D[(new_D.cr_name==room_name)&(new_D.mti_no==test_time)].index[0]-new_D.index.min(),0]=i
    return 0
#判断当前考场是否安排
def classroom_isbz(new_D,cr_name,time_no):
    return (new_D[(new_D.cr_name==cr_name)&(new_D.mti_no==time_no)].cr_state==0).values==False
#判断当前时段的教室是否符合当前的课程
def student_num_fit(new_D,cr_names,cl_num):
    cr_num=int(new_D[new_D.cr_name==cr_names].cr_testseat.values[0])//2
    if (cr_num>=cl_num and cr_num/2<=cl_num):
        return True
    else:
        return False

In [10]:
#功能描述：进行排考
#输入：教室时间笛卡儿乘积；班级编号与时间笛卡儿乘积
#输出：教室时间班级编号笛卡儿
def schedule_algorithm(D,temp):
    cannt_find_class_id=[]
    print(len(D))
    for i,cl_num,test_time in zip(temp["index"],temp.ci_student_number,temp.test_time):
        test_time_room=get_test_time_room(D,test_time)                    
        for room_name in test_time_room:
            if classroom_isbz(D,room_name,test_time) and student_num_fit(D,room_name,cl_num):
                fill_bz(D,room_name,test_time)
                change_state_id(D,room_name,test_time,i)
                break
        else:
            cannt_find_class_id.append(i)
    return D,cannt_find_class_id

In [11]:
#检测并处理不在同一楼栋的课程
def same_course_is_same_campus(alldata,cannt_find_class_id):
    find_class_id=alldata[alldata.apply(lambda x:x[4]==0,axis=1)].state_id.values
    for i in find_class_id:
        find_class=temp[temp.apply(lambda x:x[0]==i,axis=1)].ci_course_no.values
        if find_class in cannt_find_class:
            alldata.loc[alldata.apply(lambda x:x[0]==i,axis=1),"cr_state"]=1
            cannt_find_class_id.append(i)

In [12]:
df111 = zhujiao_D.append(jiangong_D)

In [27]:
temp

,index,ci_course_no,test_time,ci_class_name,ci_student_number,ci_teacher_name,ci_class_unit
0,0,101CL001,0,"金融数学201班,金融数学202班,前湖学院综合实验班201班",96,黄安,公共课排课
1,1,101CL001,0,"材料类202班,材料类202班,材料类203班,材料类204班,材料类205班,材料类206...",92,万淑辉,公共课排课
2,2,101CL001,0,"材料类201班,材料类201班,材料类202班,材料类203班,材料类204班,材料类205班",110,甘丽娇,公共课排课
3,3,101CL001,0,"土木类201班,土木类202班,土木类203班,土木类204班",115,谭潭,公共课排课
4,4,101CL001,0,"土木类205班,土木类206班,土木类207班,土木类208班",120,罗荣萍,公共课排课
...,...,...,...,...,...,...,...
2458,2458,Z8100B1085,17,医学影像学181班,52,罗艳,医学院
2459,2459,Z7540X0005,1,"广播电视编导181班,广播电视编导182班",50,李淑婷,新闻学院
2460,2460,Z7540X0005,1,"播音与主持艺术191班,播音与主持艺术192班",48,曾光,新闻学院
2461,2461,J521KA2013,2,"音乐学（音乐剧）195班,音乐学（音乐教育）192班,音乐学（音乐教育）193班",87,李铭,艺术学院
2462,2462,J521KA2013,2,"音乐学（音乐教育）191班,音乐学（音乐表演）194班",92,齐玲玲,艺术学院

In [20]:
df111

      state_id cr_building  cr_name cr_testseat mti_no  cr_state
0            0        教学主楼     教101         283      0         1
1            1        教学主楼     教101         283      1         1
2            2        教学主楼     教101         283      2         1
3            3        教学主楼     教101         283      3         1
4            4        教学主楼     教101         283      4         1
...        ...         ...      ...         ...    ...       ...
6395      6395         建工楼  建工楼A513         168     35         1
6396      6396         建工楼  建工楼A513         168     36         1
6397      6397         建工楼  建工楼A513         168     37         1
6398      6398         建工楼  建工楼A513         168     38         1
6399      6399         建工楼  建工楼A513         168     39         1

[4720 rows x 6 columns]

In [18]:
new_D = D

In [32]:
new_D.iloc[new_D[(new_D.cr_name == "建工楼A501") & (new_D.mti_no == 21)].index[0] - new_D.index.min(), ]

state_id          2208
cr_building        建工楼
cr_name        建工楼A501
cr_testseat        420
mti_no              21
cr_state             1
Name: 6261, dtype: object

In [15]:
jiangongalldata, jiangongcannt_find_class_id = schedule_algorithm(df111, jiangong_temp)

4720

IndexError: iloc cannot enlarge its target object

# 公共课排靠模板

In [17]:
%%time
#alldata---所有考场的信息
#cannt_find_room---未安排的班级编号
#outdata-----已经安排好的考场情况
gonggongalldata,cannt_find_class_id=schedule_algorithm(zhujiao_D,gonggong_temp)
# same_course_is_same_campus(alldata,cannt_find_class_id) 
gonggongoutdata=gonggongalldata[gonggongalldata.cr_state==0]

4080
Wall time: 6.54 s

In [18]:
print("成功排考",len(gonggongoutdata))
print("没成功排考",len(cannt_find_class_id))

成功排考 49
没成功排考 32

# 专业课排考模板信工

In [19]:
%%time
#alldata---所有考场的信息
#cannt_find_room---未安排的班级编号
#outdata-----已经安排好的考场情况
#建工
jiangongalldata,jiangongcannt_find_class_id=schedule_algorithm(jiangong_D,jiangong_temp)
jiangongoutdata=jiangongalldata[jiangongalldata.cr_state==0]
#机电
jidianalldata,jidiancannt_find_class_id=schedule_algorithm(jidian_D,jidian_temp)
jidianoutdata=jidianalldata[jidianalldata.cr_state==0]
#信工
xingongalldata,xingongcannt_find_class_id=schedule_algorithm(xingong_D,xingong_temp)
xingongoutdata=xingongalldata[xingongalldata.cr_state==0]
#理生
lishengalldata,lishengcannt_find_class_id=schedule_algorithm(lisheng_D,lisheng_temp)
lishengoutdata=lishengalldata[lishengalldata.cr_state==0]
#环境
huanjingalldata,huanjingcannt_find_class_id=schedule_algorithm(huanjing_D,huanjing_temp)
huanjingoutdata=huanjingalldata[huanjingalldata.cr_state==0]
#材料
cailiaoalldata,cailiaocannt_find_class_id=schedule_algorithm(cailiao_D,cailiao_temp)
cailiaooutdata=cailiaoalldata[cailiaoalldata.cr_state==0]
#人文
renwenalldata,renwencannt_find_class_id=schedule_algorithm(renwen_D,renwen_temp)
renwenoutdata=renwenalldata[renwenalldata.cr_state==0]
#外经
waijingalldata,waijingcannt_find_class_id=schedule_algorithm(waijing_D,waijing_temp)
waijingoutdata=waijingalldata[waijingalldata.cr_state==0]
#法学
faxuealldata,faxuecannt_find_class_id=schedule_algorithm(faxue_D,faxue_temp)
faxueoutdata=faxuealldata[faxuealldata.cr_state==0]

640
680
680
720
200
360
1120
320
240
Wall time: 7.87 s

In [20]:
print("成功排考",len(jiangongoutdata))
print("没成功排考",len(jiangongcannt_find_class_id))

print("成功排考",len(jidianoutdata))
print("没成功排考",len(jidiancannt_find_class_id))

print("成功排考",len(xingongoutdata))
print("没成功排考",len(xingongcannt_find_class_id))

print("成功排考",len(lishengoutdata))
print("没成功排考",len(lishengcannt_find_class_id))

print("成功排考",len(huanjingoutdata))
print("没成功排考",len(huanjingcannt_find_class_id))

print("成功排考",len(cailiaooutdata))
print("没成功排考",len(cailiaocannt_find_class_id))

print("成功排考",len(renwenoutdata))
print("没成功排考",len(renwencannt_find_class_id))

print("成功排考",len(waijingoutdata))
print("没成功排考",len(waijingcannt_find_class_id))

print("成功排考",len(faxueoutdata))
print("没成功排考",len(faxuecannt_find_class_id))

成功排考 49
没成功排考 15
成功排考 91
没成功排考 32
成功排考 155
没成功排考 51
成功排考 102
没成功排考 98
成功排考 5
没成功排考 7
成功排考 20
没成功排考 7
成功排考 55
没成功排考 40
成功排考 25
没成功排考 219
成功排考 34
没成功排考 16

In [21]:
gonggongoutdata
jiangongoutdata
jidianoutdata
xingongoutdata
lishengoutdata
huanjingoutdata
cailiaooutdata
renwenoutdata
waijingoutdata
faxueoutdata
huanjingalldata
dfoutdata = pd.concat([gonggongoutdata,jiangongoutdata,jidianoutdata,xingongoutdata,lishengoutdata,huanjingoutdata,cailiaooutdata,renwenoutdata,waijingoutdata,faxueoutdata], axis = 0, ignore_index = False, join = "outer")
dfoutdata
dfcannt_find_class_id=(cannt_find_class_id+jiangongcannt_find_class_id+jidiancannt_find_class_id+xingongcannt_find_class_id+lishengcannt_find_class_id+huanjingcannt_find_class_id+cailiaocannt_find_class_id+renwencannt_find_class_id+waijingcannt_find_class_id+faxuecannt_find_class_id)

In [22]:
cannt_temp=temp[temp.apply(lambda x:x[0] in dfcannt_find_class_id,axis=1)]

In [23]:
gonggongalldata
waijingalldata
faxuealldata
renwenalldata
jiangongalldata
jidianalldata
xingongalldata
cailiaoalldata
huanjingalldata
lishengalldata
dfalldata = pd.concat([gonggongalldata,waijingalldata,faxuealldata,renwenalldata,jiangongalldata,jidianalldata,xingongalldata,cailiaoalldata,huanjingalldata,lishengalldata], axis = 0, ignore_index = False, join = "outer")
dfalldata

      state_id cr_building  cr_name cr_testseat mti_no  cr_state
0            0        教学主楼     教101         283      0         0
1            1        教学主楼     教101         283      1         1
2            2        教学主楼     教101         283      2         1
3            3        教学主楼     教101         283      3         1
4            4        教学主楼     教101         283      4         1
...        ...         ...      ...         ...    ...       ...
9035      9035         理生楼  理生楼B504         114     35         1
9036      9036         理生楼  理生楼B504         114     36         1
9037      9037         理生楼  理生楼B504         114     37         1
9038      9038         理生楼  理生楼B504         114     38         1
9039      9039         理生楼  理生楼B504         114     39         1

[9040 rows x 6 columns]

In [24]:
dfoutdata

      state_id cr_building  cr_name cr_testseat mti_no  cr_state
0            0        教学主楼     教101         283      0         0
6           33        教学主楼     教101         283      6         0
23         427        教学主楼     教101         283     23         0
40           6        教学主楼     教111         150      0         0
46          41        教学主楼     教111         150      6         0
...        ...         ...      ...         ...    ...       ...
4560      1456         法学楼  法学楼A320          99      0         0
4564      1461         法学楼  法学楼A320          99      4         0
4571      1738         法学楼  法学楼A320          99     11         0
4600      1462         法学楼  法学楼A321          90      0         0
4611      1739         法学楼  法学楼A321          90     11         0

[585 rows x 6 columns]

In [25]:
len(temp)

2463

In [26]:
len(dfcannt_find_class_id)

517

# 数据的导出

In [27]:
dfoutdata=dfoutdata.rename(columns={"state_id":"index"})
df=pd.merge(temp,dfoutdata,how='inner',on=["index"]).iloc[:,[1,2,3,4,5,8,7]]
df.to_csv("排考最终结果.csv")

In [28]:
#更新数据

#获取到dataframe格式的数据
#填写链接信息
engine = create_engine("mysql+pymysql://root:ncu@jw114@123.60.11.177:3306/examArrange1?charset=utf8") 
# 例如：engine = create_engine("mysql+pymysql://root:666666@localhost:3306/ajx?charset=utf8")
#开始写入
df.to_sql(name = 'result',con = engine,if_exists = 'replace',index = False,index_label = False)
cannt_temp.to_sql(name = 'cannt_temp',con = engine,if_exists = 'replace',index = False,index_label = False)
dfalldata.to_sql(name = 'dm_classroom_state_new',con = engine,if_exists = 'replace',index = False,index_label = False)